.home {
  width: 100%;
  position: relative;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.bigImg {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transform: scaleX(-1);
}

.gallery {
  position: relative;
  height: 20%;
  padding: 20px 18px;
}

.gallery img {
  transform: scaleX(-1);
}

.noopMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 10rem;
  color: #fff;
}

/* animation rotate */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load {
  animation: rotate 2s linear infinite;
}

.confirm {
  position: absolute;
  top: -90px;
  right: 180px;
  transform: translate(0%, -50%);
  padding: 0.5rem;
  background-color: #455066ce;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  font-size: 2.2rem;
  color: rgb(212, 212, 212);
}

.confirm button {
  padding: 5px 10px;
  background-color: #2a82e4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  margin-right: 10px;
  display: inline;
  width: fit-content;
}

.confirm button:nth-last-child(1) {
  margin-right: 0;
  background-color: #fff;
  color: #2a82e4;
}
