.button {
  background-color: #2a82e4;
  color: white;
  font-size: 3rem;
  border: none;
  outline: none;
  font-style: normal;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.button.disabled {
  background-color: rgba(150, 150, 150, 0.6);
  cursor: not-allowed;
}


.text {
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  padding: 0.5rem;
  background-color: #455066ce;
  top: 50%;
  right: -80px;
  transform: translate(calc(-180px), -50%);
  border-radius: 0.5rem;
  color: rgb(212, 212, 212);
}

.text:after {
  content: '';
  position: absolute;
  left: 100%;
  bottom: 25%;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-left-width: 16px;
  border-left-color: currentColor;
  color: #455066ce;
}
